/* Définition du style de la page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 2s forwards; /* Disparition après 2 secondes */
}

/* Spinner */
.spinner {
  border: 8px solid #f3f3f3; /* Couleur de fond */
  border-top: 8px solid #3498db; /* Couleur du spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animation de rotation infinie */
}

/* Animation de rotation du spinner */
@keyframes spin {
  0% {
    transform: rota  te(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animation de disparition du loader */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Contenu de la page */
.content {
  display: none; /* Masquer le contenu jusqu'à ce que le loader disparaisse */
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* Afficher le contenu après disparition du loader */
.loader + .content {
  display: block; /* Afficher le contenu une fois que le loader est caché */
}
