*  {
  font-family: Roboto, serif;
}

  $location-bg-color: #EAEAEA;
  $main-bg-color: #F6F6F6;
  $button-gradient: linear-gradient(#FF79DA, #9356DC);
  $main-color: #9356DC;
  $icons-color: #9a9996;
  $footer-bg-color: #353535;
  $tertiary-color: #99E2D0;
  $new-text-color: #008766;
  $secondary-color: #FF79DA;

body {
  max-width: 100%;
  margin: 0;
}

//.loader {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  background-color: rgba(255, 255, 255, 1);
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  z-index: 9999;
//  animation: fadeOut 2s forwards;
//
//}
//
//.spinner {
//  border: 8px solid $main-color;
//  border-top: 8px solid $secondary-color;
//  border-radius: 50%;
//  width: 50px;
//  height: 50px;
//  animation: spin 1s linear infinite;
//}
//
//@keyframes spin {
//  0% {
//    transform: rotate(0deg);
//  }
//  100% {
//    transform: rotate(360deg);
//  }
//}
//
//@keyframes fadeOut {
//  0% {
//    opacity: 1;
//  }
//  99% {
//    opacity: 1;
//  }
//  100% {
//    opacity: 0;
//    visibility: hidden;
//  }
//}
//
//.loader + .content {
//  display: block;
//}

h2 {
  font-size: 24px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 113px;
}

.logo {
  height: 63px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo span {
  font-family: Shrikhand, serif;
  font-weight: 400;
  font-size: 30px;
  position: relative;
  top: 10px;
  text-align: center;
}

.location {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: $location-bg-color;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.location_content {
  display: flex;
  position: relative;
  top: 15px;
  gap: 17px;
}

.explor {
  display: flex;
  flex-direction: column;
  height: 287px;
  background-color: $main-bg-color;
    h2 {
      position: absolute;
      top: 152px;
      text-align: center;
      margin: 0;
      width: 65%;
      height: 68px;
      }
    span {
      font-size: 18px;
      font-weight: 300;
      position: absolute;
      top: 220px;
      text-align: center;
      height: 46px;
      width: 90%;
    }
 }

.title_explor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.btn-explor {
  position: relative;
  top: 180px;
  display: flex;
  justify-content: center;
  width: 100%;
    button {
      width: 218px;
      height: 50px;
      border-radius: 25px;
      background: $button-gradient;
      color: white;
      border: none;
      font-size: 16px;
      font-weight: 500;
      padding: 0;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }
    :hover {
      opacity: 0.8;
      color: white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
    }
}

.fonctions {
  height: 440px;
  position: relative;
  top: 80px;
    h2 {
      position: relative;
      top: -30px;
      width: 275px;
      height: 31px;
      left: 20px;
      margin: 0;
    }
      button {
        width: 95%;
        height: 72.36px;
        border-radius: 20px;
        border: none;
        background: $main-bg-color;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        font-weight: 500;
        gap: 20px;
        display: flex;
        align-items: center;
        padding-left: 40px;
      }

}

.btn-fonctions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
}

.btn-custom {
  display: flex;
  align-items: baseline;
  position: relative;
  span {
    background: $main-color;
    border-radius: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 35%;
    left: -11px;
  }
    .fa-mobile-screen-button {
      color: $icons-color;
    }
    .fa-list-ul {
      color: $icons-color;
    }
    .fa-store {
      color: $icons-color;
    }
}

.restaurants {
  background: $main-bg-color;
  height: 1206px;
  padding-top: 20px;
    h2 {
      font-weight: 700;
      padding-left: 20px;
    }
}

.restaurants-cards {
  width: calc(100% - 34px);
  height: 1058px;
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.restaurant-name {
  background: white;
  border-radius: 15px;
  height: 251px;
}

.plate-img {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-bottom: -57px;
  border-radius: 15px;
  img {
    display: block;
    margin: -57px 0 0 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
}

.new {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: 80px;
   span {
    background: $tertiary-color;
    width: 80px;
    height: 29px;
    align-content: center;
    font-size: 14px;
    font-weight: 500;
    color: $new-text-color;
    text-align: center;
    border-radius: 2px;
    }
}

.restaurant-details {
  color: black;
  padding-left: 20px;
  position: relative;
  top: -10px;
      h3 {
        font-size: 18px;
        font-weight: 700;
        margin: 0 0 3px 0;
      }
      span {
        font-size: 17px;
        font-weight: 300;
      }
      button {
        background: none;
        border: none;
      }
}

.like {
  display: flex;
  justify-content: end;
  position: absolute;
  top: -5px;
  right: 15px;
}

.like__toggle {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
}

.like__btn {
  width: 44px;
  height: 44px;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
   i {
     position: relative;
     z-index: 1;
     transition: opacity .35s ease, color .15s ease, transform .15s ease;
   }
}

.like__btn::after {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 2em;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: $button-gradient;
  background-clip: text;
  color: transparent;
  opacity: 0;
  transform: scale(0.1);
  transition: opacity .90s ease, transform .35s ease;
}

.like__toggle:checked + .like__btn i {
  opacity: 0;
}

.like__toggle:checked + .like__btn::after {
  opacity: 1;
  transform: scale(1);
}

.footer-content {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 16px;
  height: 142px;
  background: $footer-bg-color;
  color: white;
  h2 {
    font-family: Shrikhand, serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    width: 139px;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    h3 {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }
    span {
      font-size: 16px;
      font-weight: 400;
      width: 130px;
    }
    i {
      color: white;
    }
  }
}

footer {
  width: 100%;
}

.info-item {
  display: flex;
  align-items: baseline;
  gap: 7px;
  width: 190px;
}

  @media (min-width: 1440px) {

    header {
      height: 146px;
    }

    .logo {
      height: 96px;
    }

    .logo span {
      top: 20px;
      font-size: 40px;
    }

    .explor {
      h2 {
        font-size: 40px;
        font-weight: 700;
        top: 176px;
      }

      span {
        top: 255px;
      }
    }

    .fonctions {
      height: 128px;
      display: flex;
      gap: 25px;
      position: unset;
      padding: 50px 180px;
      flex-direction: column;
        h2 {
          position: unset;
          top: 0;
          left: 0;

        }
        button {
          width: 322px;
        }
    }

    .btn-fonctions {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      padding-left: 10px;
    }

    .restaurants {
      padding: 0 180px 0 180px;
      height: 664px;
      display: flex;
      flex-direction: column;

      h2 {
        margin-bottom: 0;
        padding: 0;
      }
    }

    .restaurants-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
      align-items: center;
      height: 608px;
      row-gap: 0;
      column-gap: 100px;
      padding: 0;
    }
    .footer-content {
      flex-direction: row-reverse;
      align-items: end;
      padding: 30px 25px;
      height: 54px;

      .info {
        flex-direction: row;
      }
    }
  }

.restaurant-page {
  height: 63px;
}

.restaurants-image {
  img {
    width: 100%;
    height: 275px;
  }
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 17px;
  left: 17px;
  background: none;
  border: none;
}

.menu {
  background: $main-bg-color;
  width: 100%;
  height: 1307px;
  border-radius: 55px;
  position: absolute;
  top: 283px;
    h1 {
      font-family: Shrikhand, serif;
      font-weight: 400;
      font-size: 28px;
      position: absolute;
      top: 8px;
      left: 17px;
      margin: 0;
    }
    .menu-content {
      width: 100%;
      height: 1275px;
      position: fixed;
      top: 315px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
    .menu-title {
      display: flex;
      width: 341px;
      height: 29px;
      .menu-like {
        position: absolute;
        top: 8px;
        left: 300px;
      }
     }
}

.dishes {
  width: 349px;
  height: 270px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .dish-title {
    width: 275px;
    height: 27px;
    position: relative;
    display: inline-block;
    padding-bottom: 12px;
  }
  .dish-title::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 0;
    top: 27px;
    left: 0;
    border-bottom: 3px solid $tertiary-color;
  }
}

.btn-dishes {
  width: 349px;
  height: 72px;
    button {
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      padding: 15px;
      background: white;
      border: none;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.10);
    }
    .dish {
      width: 287px;
      height: 42px;
      gap: 5px;
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    h2 {
      font-weight: 500;
      font-size: 18px;
      margin: 0;
    }
    .price {
      display: flex;
      flex-direction: row-reverse;
      width: 27px;
      height: 18px;
      font-weight: 700;
      font-size: 15px;
      padding-top: 25px;
      text-decoration: none;
    }
}

.btn-order {
  display: flex;
  justify-content: center;
  width: 100%;
    button {
      width: 186px;
      height: 50px;
      border-radius: 25px;
      background: $button-gradient;
      color: white;
      border: none;
      font-size: 16px;
      font-weight: 500;
      padding: 0;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }
    :hover {
      opacity: 0.8;
      color: white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
    }
}
