*  {
  font-family: Roboto, serif;
}

:root {
  --location-bg-color: #EAEAEA
}

body {
  max-width: 100%;
  margin: 0;
}

h2 {
  font-size: 24px;
}

img {
  width: 346px;
  height: 231px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 113px;
}

.logo {
  height: 63px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.logo img {
  width: 197px;
  height: 36px;
  padding: 14px 89px;
}

.location {
  display: flex;
  justify-content: center;
  gap: 17px;
  padding-top: 15px;
  width: 100%;
  height: 50px;
  background-color: var(--location-bg-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.explor {
  display: flex;
  flex-direction: column;
  height: 287px;
}