*  {
  font-family: Roboto, serif;
}

img {
  width: 346px;
  height: 231px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 113px;
}

.logo {
  height: 63px;
}

.logo img {
  width: 197px;
  height: 36px;
  padding: 14px 89px 0 89px;
}

.location {

}