*  {
  font-family: Roboto, serif;
}

:root {
  --location-bg-color: #EAEAEA;
  --main-bg-color: #F6F6F6;
  --button-gradient: linear-gradient(#FF79DA, #9356DC);
  --main-color: #9356DC;
  --icons-color: #9a9996;
}

body {
  max-width: 100%;
  margin: 0;
}

h2 {
  font-size: 24px;
}

img {
  width: 346px;
  height: 231px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 113px;
}

.logo {
  height: 63px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.logo img {
  width: 197px;
  height: 36px;
  padding: 14px 89px;
}

.location {
  display: flex;
  justify-content: center;
  gap: 17px;
  padding-top: 15px;
  width: 100%;
  height: 50px;
  background-color: var(--location-bg-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.explor {
  display: flex;
  flex-direction: column;
  height: 287px;
  background-color: var(--main-bg-color);
    h2 {
      padding: 39px 52px 10px;
      text-align: center;
      margin: 0;
    }
      span {
        font-size: 18px;
        font-weight: 300;
        padding-left: 34px;
        padding-right: 34px;
        text-align: center;
      }
}

.btn-explor {
  padding: 30px 82px;
    button {
      width: 218px;
      height: 50px;
      border-radius: 25px;
      background: var(--button-gradient);
      color: white;
      border: none;
      font-size: 16px;
      font-weight: 500;
      padding: 0;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }
}

.fonctions {
  height: 440px;
  padding-left: 20px;
  padding-right: 20px;
    h2 {
      padding: 45px 0 20px 0;
      margin: 0;
    }
      button {
        width: 322.49px;
        height: 72.36px;
        border-radius: 20px;
        border: none;
        background: var(--main-bg-color);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        font-weight: 500;
        gap: 20px;
        display: flex;
        align-items: center;
        padding-left: 40px;
      }

}

.btn-fonctions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
}

.btn-custom {
  display: flex;
  align-items: baseline;
  position: relative;
  span {
    background: var(--main-color);
    border-radius: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 35%;
    left: -11px;
  }
    .fa-mobile-screen-button {
      color: var(--icons-color);
    }
      .fa-list-ul {
        color: var(--icons-color);
      }
       .fa-store {
          color: var(--main-color);
        }
}

.restaurants {
  background: var(--main-bg-color);
  height: 1226px;
  padding-top: 20px;
    h2 {
      font-weight: 700;
      padding-left: 20px;
    }
}

.restaurants-cards {
  width: 340px;
  height: 1058px;
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}